body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
  font-family: 'Roboto';
}

.font-link {
  font-family: 'Roboto';
}

/* 1. Menubar Styling*/
/* ---------------------------------------------------- */

/* Menubar Styling */

.menubar ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.menubar li {
  padding-left: 20px;
}